.rightNm{position: absolute; left: 33px;top: 144px;color:#7e848c;}
.leftNm{position: absolute;}

.leftNm{top:120px;left:54px;color:#7e848c;}
.rightNm{left:46px;}
.ln{left:222px;top:119px;}
.ln2{left: 228px;top:141px;}

.lister{padding: 0.14rem 0.01rem 0.13rem 0.14rem;}
.dangerlist ul li{padding-top: 0.11rem;}
.ranges{margin: 0.09rem 0;}
.sofelist a{margin: 0.25rem 0.2rem 0rem 0.23rem;}
.my-scrollbar{height:322px;}