.carvbar{height:240px;}
.tuli{margin-top:-32.42px;}
.dangerlist ul li{padding-top: 0.1rem;}
.lister{padding: 0.13rem 0.01rem 0.13rem 0.14rem;}
.ranges{margin: 0.07rem 0 0.08rem;}
.sofelist a{margin: 0.24rem 0.2rem 0rem 0.21rem;}
.searchTb input{width:1.8rem;}
.rightname em{margin-top:0.27rem;}
.leftNm{top:88px;left:38px;}
.rightNm{top:109px;left:29px;}
.ln{left:169px;top:88px;}
.ln2 {left: 175px;top: 108px;}